.container{
  width: 105%;
	height: 100%;
	/* margin: auto; */
	/* background-color: black; */
	/* border-radius: 10px; */
	/* border: 10px solid yellow; */
}
/* #coins{ */
  /* width: 1639px */
/* } */
.col-md-1{
  border-style: solid;
  border-color: Blue;
  /* display:block; */


}
.next_red{
  background-color: red;

}
.player1{
/* background-color: red; */
color: red;
}
